header {
    text-align: center;
    color: white;
    min-height: 10vh;
    background-color: #610817;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

.page {
    text-align: center;
    margin: auto;
    display: grid;
    min-width: 75vw;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: calc(40px + 2vmin);
    margin: 0;
    padding: 20px;
}

h3 {
    font-size: calc(20px + 2vmin);
}

.gridItem {

}